# Data Validation With Great Expectations

In [1]:
import numpy as np
import pandas as pd


%load_ext lab_black

In [2]:
# Data Validation
import great_expectations as gx

data = pd.read_csv("../data/salary.csv")
# Create a GX DataFrame
validator = gx.dataset.PandasDataset(data)

validator.head()

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hours_per_week,Country,Salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

## Table Level Validations

In [3]:
column_list = [
    "Age",
    "Workclass",
    "Final_weight",
    "Education",
    "Education_num",
    "Marital_status",
    "Occupation",
    "Relationship",
    "Race",
    "Sex",
    "Capital_gain",
    "Capital_loss",
    "Hours_per_week",
    "Country",
    "Salary",
]


validator.expect_table_columns_to_match_ordered_list(column_list=column_list)

{
  "result": {
    "observed_value": [
      "Age",
      "Workclass",
      "Final_weight",
      "Education",
      "Education_num",
      "Marital_status",
      "Occupation",
      "Relationship",
      "Race",
      "Sex",
      "Capital_gain",
      "Capital_loss",
      "Hours_per_week",
      "Country",
      "Salary"
    ]
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [4]:
validator.expect_table_row_count_to_equal(value=32_560)

{
  "result": {
    "observed_value": 32560
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [5]:
# All the columns in each row should be unique.
# e.g a, b, c (pass);
# a, a, c (fail)
validator.expect_select_column_values_to_be_unique_within_record(
    column_list=["Age", "Workclass", "Final_weight"]
)

{
  "result": {
    "element_count": 32560,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

### Individual Feature Columns

In [6]:
validator.expect_column_values_to_not_be_null(column="Age")

{
  "result": {
    "element_count": 32560,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [7]:
validator.expect_column_values_to_be_of_type(column="Age", type_="int")

{
  "result": {
    "observed_value": "int64"
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [8]:
validator.expect_column_min_to_be_between(column="Age", min_value=1)

{
  "result": {
    "observed_value": 17,
    "element_count": 32560,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [9]:
validator.expect_column_max_to_be_between(column="Age", max_value=100)

{
  "result": {
    "observed_value": 90,
    "element_count": 32560,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [10]:
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Age", max_value=0.01
)

{
  "result": {
    "observed_value": 0.002242014742014742,
    "element_count": 32560,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [11]:
validator.expect_column_values_to_not_be_null(column="Workclass", mostly=0.95)

{
  "result": {
    "element_count": 32560,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [12]:
validator.expect_column_values_to_be_of_type(column="Workclass", type_="str")

{
  "result": {
    "element_count": 32560,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [13]:
value_set = [
    " ?",
    " Federal-gov",
    " Local-gov",
    " Never-worked",
    " Private",
    " Self-emp-inc",
    " Self-emp-not-inc",
    " State-gov",
    " Without-pay",
]
validator.expect_column_distinct_values_to_be_in_set(
    column="Workclass", value_set=value_set
)

{
  "result": {
    "observed_value": [
      " ?",
      " Federal-gov",
      " Local-gov",
      " Never-worked",
      " Private",
      " Self-emp-inc",
      " Self-emp-not-inc",
      " State-gov",
      " Without-pay"
    ],
    "element_count": 32560,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [14]:
# The column should NOT have too many unique values
validator.expect_column_proportion_of_unique_values_to_be_between(
    column="Workclass", max_value=0.01
)

{
  "result": {
    "observed_value": 0.00027641277641277643,
    "element_count": 32560,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [15]:

validator.expect_column_value_lengths_to_be_between(
    column="Workclass", min_value=2, max_value=20
)

{
  "result": {
    "element_count": 32560,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {}
}

In [16]:
import datetime

# Expectation suite
expectation_suite = validator.get_expectation_suite(discard_failed_expectations=False)
print(
    validator.validate(
        expectation_suite=expectation_suite,
        only_return_failures=True,
        run_name="STPL Balance Data",
        run_time=datetime.datetime.today(),
    )
)

{
  "success": true,
  "meta": {
    "great_expectations_version": "0.16.6",
    "expectation_suite_name": "default",
    "run_id": {
      "run_name": "STPL Balance Data",
      "run_time": "2023-04-07T22:57:08.325009+01:00"
    },
    "batch_kwargs": {
      "ge_batch_id": "2321aada-d58f-11ed-8c55-acde48001122"
    },
    "batch_markers": {},
    "batch_parameters": {},
    "validation_time": "20230407T215708.325023Z",
    "expectation_suite_meta": {
      "great_expectations_version": "0.16.6"
    }
  },
  "results": [],
  "evaluation_parameters": {},
  "statistics": {
    "evaluated_expectations": 13,
    "successful_expectations": 13,
    "unsuccessful_expectations": 0,
    "success_percent": 100.0
  }
}